<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SAKURA</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">
    <link href="https://cdn.bootcss.com/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="css/index.css">

    <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="js/bootstrap-table-editable.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/index.js"></script>
</head>
<body>
    <div class="container-fluid" id="main">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar database-list">
                <div class="database">
                    <h4>Database-List</h4>
                </div>
                <div>
                    <input type="text" class="form-control" v-model="searchDatabase">
                </div>
                <ul class="nav nav-sidebar">
                    <li v-for="db in selectDatabases">
                        <a href="#" v-bind:id="db.id" v-on:click="selectDatabase" v-bind:class="{active: db.id==database.id}">
                            <span v-bind:title="db.name">{{ db.name }}</span>
                            <button class="btn delete" v-on:click.stop="deleteDatabase">Del</button>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li>
                        <a href="#" class="text-center" data-toggle="modal" data-target="#dbInfo">
                            <span class="glyphicon glyphicon-plus black font-size-18">新增</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3 col-md-2 sidebar db-table-contain table-list">
                <div class="db-table">
                    <h4>Table-List</h4>
                </div>
                <div>
                    <input type="text" class="form-control" v-model="searchTable">
                </div>
                <ul class="nav nav-sidebar">
                    <li v-for="t in selectTables" v-on:click="selectTable" v-bind:class="{active: t.name==table.name}">
                        <a href="#" v-bind:title="t.name">{{ t.name }}</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-8 sidebar table-data" v-bind:class="{fade: !table.name, show: table.name}">
                <div class="alert alert-dismissable" v-bind:class="{fade: !table.errorMsg, show: table.errorMsg, 'alert-success': table.errorCode == 0, 'alert-danger': table.errorCode != 0}">
                    <span>{{ table.errorMsg }}</span>
                </div>
                <div id="toolbar" class="btn-group">
                    <button class="btn btn-default" v-on:click="addData">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span >新增
                    </button>
                    <button class="btn btn-default" v-on:click="saveData">
                        <span class="glyphicon glyphicon-save" aria-hidden="true"></span >保存
                    </button>
                    <button class="btn btn-default" v-on:click="deleteData">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span >删除
                    </button>
                </div>
                <table id="tableData"></table>
            </div>
        </div>
        <div id="dbInfo" class="modal fade">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title">数据库连接</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form" id="databaseInfo">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">数据库类型:</label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="type">
                                        <option value="mysql">mysql</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">IP 地址:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="ip" v-model="connectInfo.ip">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">端口:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="port" v-model="connectInfo.port">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">数据库名:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="name" v-model="connectInfo.dbName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">用户名:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="username" v-model="connectInfo.username">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">密码:</label>
                                <div class="col-sm-8">
                                    <input type="password" class="form-control" name="password" v-model="connectInfo.password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">参数:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="params" v-model="connectInfo.params">
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-sm-offset-4 col-sm-8">
                                <div class="alert alert-dismissable" v-bind:class="{fade: !connectInfo.show, show: connectInfo.show, 'alert-success': connectInfo.code == 0, 'alert-danger': connectInfo.code != 0}">
                                    <span>{{ connectInfo.msg }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" v-on:click="testDatabase">测试连接</button>
                        <button type="button" class="btn btn-primary" v-on:click="saveDatabase">保存</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="insertData" class="modal fade">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title">{{table.name}}-新增数据</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form" id="insertForm">
                            <div class="form-group" v-for="(field,index) in table.fields">
                                <label class="col-sm-4 control-label break-word">{{field.columnName}}:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" v-bind:name="field.columnName" v-model="insertDataList[index]">
                                    <div class="errmsg" v-bind:class="{fade: !insertDataErrmsg[index], show: insertDataErrmsg[index]}">
                                        <span>{{insertDataErrmsg[index]}}</span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" v-on:click="insertData">保存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>