<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SAKURA</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
    <!-- Latest compiled and minified Locales -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/locale/bootstrap-table-zh-CN.min.js"></script>
    <link rel="stylesheet" href="css/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/index.js"></script>
</head>
<body>
    <div class="container-fluid" id="main">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar database-list">
                <div class="database">
                    <span>Database-List</span>
                </div>
                <ul class="nav nav-sidebar">
                    <li v-for="db in dbs" v-on:click="selectDatabase" v-bind:class="{active: db.id==database.id}">
                        <a href="#" v-bind:id="db.id">
                            <span>{{ db.name }}</span>
                            <button class="btn delete" v-on:click.stop="deleteDatabase">Del</button>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li>
                        <a href="#" class="text-center" data-toggle="modal" data-target="#dbInfo">
                            <span class="glyphicon glyphicon-plus black font-size-18">新增</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3 col-md-2 sidebar db-table-contain table-list">
                <div class="db-table">
                    <span>Table-List</span>
                </div>
                <ul class="nav nav-sidebar">
                    <li v-for="t in tables" v-on:click="selectTable" v-bind:class="{active: t.name==table.name}">
                        <a href="#">{{ t.name }}</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-8 sidebar table-data">
                <table id="tableData"></table>
            </div>
        </div>
        <div id="dbInfo" class="modal fade">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title">数据库连接</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form" id="databaseInfo">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">数据库类型:</label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="type">
                                        <option value="mysql">mysql</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">IP 地址:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="ip">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">端口:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="port">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">数据库名:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="name" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">用户名:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="username">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">密码:</label>
                                <div class="col-sm-8">
                                    <input type="password" class="form-control" name="password">
                                </div>
                            </div>
                        </form>
                        <div>
                            <span>{{ connectInfo }}</span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="testDatabase">测试连接</button>
                        <button type="button" class="btn btn-primary" id="saveDatabase">保存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>